@tailwind base;
@tailwind components;
@tailwind utilities;

/* This sets up the base light/dark mode variables.
  The .dark class will be added to the <html> tag by our Header component.
*/
@layer base {
  :root {
    --color-background: #ffffff; /* White */
    --color-text: #171717;       /* Dark Gray */
  }

  .dark {
    --color-background: #18181b; /* Zinc 900 */
    --color-text: #f4f4f5;       /* Zinc 100 */
  }
  
  body {
    @apply bg-background text-text transition-colors duration-200;
  }
}

body {
  font-family:
    "Inter Variable",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}